.metronome {
    text-align: center;
    max-width: 375px;
    margin: 0 auto;
    padding: 30px;
  }
  
  .bpm-slider input {
    width: 100%;
    margin: 10px;
  }

  .beats-slider input {
    width: 100%;
    margin: 10px;
  }
  
  .metronome button {
    background: #c94d46;
    padding: 10px;
    border: 1px solid #832420;
    border-radius: 2px;
    width: 100px;
    color: #fff;
    font-size: 18px;
  }

  .counter {
    width: 100%;
    padding-bottom: 10px;
    background: lighten(#333, 5%);
    text-align: center;
  }

    .dot {
      width: 15px;
      height: 15px;
      display: inline-block;
      margin: 25px 10px 10px 10px;
      background: #333;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s;
    }